<!-- C:\VSCodeProjects\Webkert-nyari-tabor-foglalo4\src\app\shared\gallery\gallery.component.html -->
<div class="scroll-arrow-container">
    <div class="scroll-arrow">
      <span class="arrow-text">Görgess Lejjebb a Galériához</span>
      <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

<div class="large-margin-transparent block">
  <section class="gallery-section">
    <h2 class="section-title">Tábori Galéria</h2>

    <!-- Elvileg így kell, de nem jelennek meg a képek -->
    <!-- <mat-grid-list cols="3" rowHeight="350px" gutterSize="16px">
          <mat-grid-tile *ngFor="let image of GALLERY_IMAGES">
            <mat-card class="gallery-card">
              <img mat-card-image [src]="'/' + image.path" [alt]="image.title">
              <mat-card-content>
                <h3>{{image.title}}</h3>
                <p>{{image.description}}</p>
                
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list> -->

    <!-- De így is jó -->
    <div class="large-margin-transparent block">
      <div class="gallery-grid">
        <div class="gallery-card">
          <img src="cserkesztabor.jpg" alt="Cserkésztábor">
          <h3>Cserkésztábor</h3>
          <p>Kalandok és természetfelfedezés kerületi cserkésztáborainkban!</p>
        </div>

        <div class="gallery-card">
          <img src="tabortuz-jatekok.jpg" alt="Tűzrakás">
          <h3>Tábor Erdély egzotikus hegyeiben</h3>
          <p>Meghitt esték közös énekléssel és tábortűzzel a csillagos ég alatt.</p>
        </div>

        <div class="gallery-card">
          <img src="drcode.jpg" alt="Programozás és robotika">
          <h3>Programozás és robotika táborok</h3>
          <p>Modern technológiai kalandok a Dr. Code szervezésével! - Tanulás játékosan.</p>
        </div>

        <div class="gallery-card">
          <img src="forest-summer-camp.jpg" alt="Erdei vándortábor">
          <h3>Erdei vándortábor</h3>
          <p>A múlt évi nyári erdei vándortáborok legjobb pillanatai :D . Hátizsákkal, barátokkal lenyűgöző természeti
            tájakon át vezetett az út! :O</p>
        </div>

        <div class="gallery-card">
          <img src="group_of_children_lying_in_the_grass_in_a_circle.jpg" alt="Közösségi programok">
          <h3>Közösségi programok</h3>
          <p>Kreatív és közösségépítő foglalkozások, ahol mindenki megtalálja a helyét.</p>
        </div>

        <div class="gallery-card">
          <img src="island_camp.jpg" alt="Cserkésztábor Izlandon">
          <h3>Cserkésztábor Izlandon</h3>
          <p>Ez egy egyedülálló kép az izlandi cserkésztáborokról! Gejzírek, lenyűgöző tájak és különleges programok
            izland szigetén.</p>
        </div>

        <div class="gallery-card">
          <img src="nyari_tabor.jpg" alt="Fonyódligeti Erzsébet-tábor">
          <h3>Fonyódligeti Erzsébet-táborok</h3>
          <p>Minden évben egész nyáron várjuk a gyermekeket, most már 3 helyszínen!</p>
        </div>

        <div class="gallery-card">
          <img src="szent_margit.jpg" alt="Szent Margit tábor">
          <h3>Szent Margit cserkésztábor</h3>
          <p>Egy cserkészcsapat, ahol a hagyományok, tanulás, közösség és a játék kéz a kézben járnak.</p>
        </div>

        <div class="gallery-card">
          <img src="szinjatszotabor.jpg" alt="Színjátszótábor">
          <h3>Színjátszótábor</h3>
          <p>Fedezd fel a benned rejlő színészt! Előadások, szerepjátékok, improvizációk.</p>
        </div>

        <div class="gallery-card">
          <img src="Zankai_Elmenytabor.jpg" alt="Zánkai élménytábor">
          <h3>Zánkai élménytábor</h3>
          <p>Vidám és változatos programok Magyarország legnagyobb táborában, a Balaton partján &#45; számíthahsz ránk,
            számítunk rád!</p>
        </div>
      </div>
    </div>
  </section>
</div>