<!--C:\VSCodeProjects\Webkert-nyari-tabor-foglalo\Webkert-nyari-tabor-foglalo\src\app\core\components\footer\footer.component.html-->

<!-- Footer -->
<footer class="footer site-footer" allow-any-element-to-be-outside-of-it: false>
  <mat-toolbar color="primary" class="footer-toolbar" style="  background-color: #333;">
    <div class="footer-content">
      
      <div class="footer-column footer-logo">
        <h3>Nyári Tábor Foglaló</h3>
        <p>© {{currentYear}} Minden jog fenntartva</p>
        <p>Kapcsolat: info&commat;nyaritabor.hu<br>+36 30 123 4567</p>
      </div>

      <div class="footer-column social-media">
         <ul>
          <li><a class="a" routerLink="#">X (Twitter)</a></li>
          <li><a class="a" routerLink="#">Linkedin</a></li>
          <li><a class="a" routerLink="#">Discord</a></li>
          <li><a class="a" routerLink="#">Slack</a></li>
        </ul>
      </div>

      <div class="footer-column watermark">
        <p class="name">Fábián Bernát</p>
        <p class="link"><a class="a" href="https://fabbernat.github.io" target="_blank">Honlapom</a></p>
      </div>

      <div class="footer-column footer-links">
        <ul>
          <li><a class="a" routerLink="#">.</a></li>
          <li><a class="a" routerLink="/about">Rólunk</a></li>
          <li><a class="a" routerLink="/privacy">Adatvédelem</a></li>
          <li><a class="a" routerLink="/terms">Felhasználási feltételek</a></li>
        </ul>
      </div>

    </div>
  </mat-toolbar>
</footer>